
<div class="article">
    <article>PROYECTOS PERSONALES</article>
    <div class="gamesprop">
      <p>GAMES JS PROTOYPE</p>
      <div class="one">
        <p>GAME COUNTER</p>
        <p>Counter: {{contador}}</p>
        <button (click)="incrementContador(1)">+1</button>
        <button (click)="incrementContador(-1)">-1</button>
        <button (click)="incrementContador(2)">+2</button>
        <button (click)="resetContador()">0</button>
      </div>

      <div>
        <p>JUEGO DE LA HORA</p>
        <p>{{hora}}</p>
        <button (click)="texto()"><p>SABER LA HORA</p></button>
        <button ></button>
      </div> 
      <div>
        GAME 3
      </div>
      <div>
        GAME 4
      </div>
      <div>
        GAME 5
      </div>
      <div>
        GAME 6
      </div>
    </div>
</div>