
<div class="HA-Info">
  <header><h1><a href="" class="vnc">VNC</a></h1></header> 
</div>
<div class="HA-Nav">
  <nav>
    <ul>
        <li><p><a href="" class="header-nav-a">PROYECTS</a></p></li>
        <li><p><a href="" class="header-nav-a">CONTAC</a></p></li>
        <li><p><a href="" class="header-nav-a">SOCIAL</a></p></li>
    </ul>
  </nav>
</div>






<main class="grid-container">

  <app-section class="grid-item1"/>

  <app-aside    class="grid-item2"/>

  <app-article  class="grid-item3"/>

</main> 











<!-- <main class="grid-container">
  
 
  <app-header   class="grid-item1"/>

   <app-section [label]="systemVolume" [value]="numero" (palabrasupersace)="palabrasuper($event)" class="grid-item2"/> 

  <app-section class="grid-item2"/>

  <app-aside    class="grid-item3"/>

  <app-article  class="grid-item4"/>

  <app-footer   class="grid-item5"/>
   <p>{{prueba}} </p> 

  
  <div class="wtf"></div> 
</main> -->



<div class="footer">
  <footer>Footer</footer>
</div>