<div class="section">
    <section>
        <div class="s-info">
            <h2>{{dateMe.datame.name}}</h2>
            <h3>Full Stack Developer y Data Science</h3> 
            <!-- <p>{{funcionlvlone("Hola")}}</p>
            <p>{{value+1}}</p>
            <p>{{label}}</p>
            <button (click)="getpalabra()">Output</button> -->
        </div>
        
        <h4>LENGUAGE :</h4>
        <div class="s-lenguage skill">
            <div>
                <p>{{dateMe.lenguages[0].name}}</p>
                <div></div>
            </div>
            <div>
                <p>{{dateMe.lenguages[1].name}}</p>
                <div></div>
            </div>
            <div>
                <p>{{dateMe.lenguages[2].name}}</p>
                <div></div>
            </div>
            <div>
                <p>{{dateMe.lenguages[3].name}}</p>
                <div></div>
            </div>
            <div>
                <p>{{dateMe.lenguages[4].name}}</p>
                <div></div>
            </div>
        </div>

        <h4>FRAMEWORK</h4>
        <div class="s-framework skill">
            <div>
                <p>ANGULAR</p>
                <div></div>
            </div>
            <div>
                <p>REACT (NEXT.JS)</p>
                <div></div>
            </div>
            <div>
                <p>VUE.JS</p>
                <div></div>
            </div>
            <div>
                <p>FLUTTER</p>
                <div></div>
            </div>
        </div>

        <h4>MOBILE</h4>
        <div class="s-mobile skill">
            <div>
                <P>FLUTTER</P>
                <div></div>
            </div>
            <div>
                <P>KOTLIN</P>
                <div></div>
            </div>
        </div>
       
    </section>
</div>
